@font-face {
  font-family: "proto";
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/proto.woff2) format("woff2");
}

* {
  box-sizing: border-box;
}
html,
body,
#root,
.wrapper {
  height: 100%;
}

.wrapper {
  background-color: rgb(29, 30, 32);
  background-image: url(./assets/images/cruz.png);
  background-repeat: repeat;
  background-size: 3%;
}
.tag {
  font-family: proto;
  pointer-events: none;
  user-select: none;
  animation-duration: 0.3s;
  animation-name: fadeIn;
}
.title {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 999px;
  color: white;
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  width: max-content;
}
.porc {
  font-size: 10rem;
  color: #fff;
}
@keyframes fadeIn {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translate3d(0);
    opacity: 1;
  }
}
